---
import "@styles/common.css";
import "@styles/prose.css";

import TheHeader from "@components/TheHeader.astro";
import TheFooter from "@components/TheFooter.astro";

const { frontmatter, headings } = Astro.props;
---

<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{frontmatter.title}</title>
  </head>

  <body class="max-w-4xl px-2 md:px-4 mx-auto font-sans">
    <TheHeader
      title={frontmatter.title}
      game={frontmatter.game}
      isHomepage={frontmatter.isHomepage}
    />

    <article class="prose lg:prose-lg max-w-none mt-6">
      <h1>{frontmatter.title}</h1>

      {
        !frontmatter.noTOC && (
          <div id="toc" class="note neutral">
            <ol>
              {headings
                .filter((heading) => heading.depth == 2)
                .map((heading) => (
                  <li>
                    <a
                      href={"#" + heading.slug}
                      class="no-underline hover:underline"
                    >
                      {heading.text}
                    </a>
                  </li>
                ))}
            </ol>
          </div>
        )
      }

      <slot />
    </article>

    <TheFooter />
  </body>
</html>
